.summary-box
  &.block-card
    .title-section
      text-transform: capitalize
      text-align: center
      margin-top: 1.5em

      .title
        color: #f54

    .img-section
      width: 100%

      .blocked-slot-avatar
        display: block !important
        margin: auto
        width: 48px !important
        height: 48px !important
        color: black

    .reason-section
      margin-top: .5em
      width: calc(100% - 2em)

    .delete-section
      top: 0
      right: 0
      position: absolute
      padding: .2em
      margin: .5em
      color: #333

      &:hover
        cursor: pointer

    .confirm-delete-block-msg
      margin-top: 5em

    .deleting-container
      display: flex
      flex-direction: column
      align-items: center

      .deleting-text
        margin-top: 2em

      .deleting-status
        margin-top: 2em
        display: flex
        justify-content: center

    .confirm-delete-action-section
      display: flex

      .confirm-delete-action-button
        margin: 0.5em