$break-small: 480px
$break-less-medium: 500px
$break-medium: 660px
$break-mediumish: 850px

.only-bigger-than-mediumish
  @media screen and (max-width: $break-mediumish)
    display: none !important

.date-and-time-section
  border-bottom: 1px solid #aaa
  overflow: hidden
  padding: .5em
  display: flex
  flex-direction: column
  justify-content: center
  background-color: #fff

  @media screen and (max-width: $break-mediumish)
    justify-content: flex-start

  .location-title-section
    padding: .5em 30px 1em 30px
    margin: 0
    font-size: 1.3em
    display: flex
    align-items: center

    @media screen and (min-width: $break-mediumish)
      display: none
      padding: 0

    .location-title-place-icon
      color: #666 !important
      margin-right: .5em

  .info-items
    margin: none
    padding: none
    display: flex
    justify-content: center

    @media screen and (max-width: $break-mediumish)
      justify-content: flex-start

    .info-section
      display: inline-flex
      flex-direction: column
      margin: 0 3em
      align-items: flex-start

      @media screen and (max-width: $break-mediumish)
        margin: 0 30px

      .date-and-time-title
        font-size: 1em
        font-weight: bold
        color: #666
        display: block

        @media screen and (max-width: $break-mediumish)
          font-size: 0.875em

      .date-and-time-content
        font-size: 1.25em
        font-weight: 400
        color: #666

      .date-and-time-content-big
        font-size: 1.25em
        font-weight: 400
        color: #666

        @media screen and (max-width: $break-mediumish)
          display: none

      .date-and-time-content-small
        font-size: 1.25em
        font-weight: 400
        color: #666
        display: none

        @media screen and (max-width: $break-mediumish)
          display: inline-block