.trial-calendar {
  margin: 0; }

.calendar-container {
  overflow: hidden;
  position: relative;
  /*user-select: none*/
  margin-top: 150px; }
  .calendar-container.headless {
    margin-top: 0; }

.times-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 72px;
  padding-top: 48px;
  background: #fff;
  border-right: 1px solid #eaecf1;
  height: 100%;
  overflow: hidden;
  box-sizing: border-box; }

.times-table {
  margin-bottom: 52px;
  width: 100%;
  color: #424956;
  font-size: 13px;
  background-color: #f9f9fb;
  font-size: 13px;
  border-collapse: collapse;
  border-spacing: 0; }

.time-container {
  width: 150px;
  /*border-bottom: 1px solid #fff*/
  border-bottom: 1px solid #FFF;
  vertical-align: middle;
  line-height: 1;
  font-size: 13px;
  background: #fff;
  color: #778292;
  border-right: none;
  border-top: none;
  cursor: default;
  height: 24px !important;
  position: relative;
  text-align: center !important;
  box-sizing: border-box;
  padding: 0; }

.time-hour {
  position: absolute;
  left: 10px;
  top: 10px;
  display: inline-block;
  float: left;
  height: 23px;
  font-size: 20px;
  padding-top: 0;
  text-transform: uppercase;
  letter-spacing: -1px;
  color: #555;
  z-index: 1; }

.hour-text {
  font-size: 20px; }

.ampm-text {
  font-size: 12px;
  letter-spacing: 0;
  top: -0.5em;
  margin-left: 2px;
  position: relative;
  vertical-align: baseline;
  line-height: 0; }

.time-minutes {
  top: 1px;
  float: right;
  width: 20px;
  text-align: center;
  color: #a2aabd;
  border-bottom: 1px solid #EAECF1;
  line-height: 22px;
  font-size: 10px;
  padding: 0;
  position: relative;
  display: inline-block;
  height: 23px;
  text-transform: uppercase;
  letter-spacing: -1px;
  box-sizing: border-box; }

.locations-wrapper {
  z-index: 4;
  left: 72px;
  position: fixed;
  top: 150px;
  right: 0;
  overflow: hidden;
  overflow-y: hidden; }
  .locations-wrapper.headless {
    top: 70px; }

.locations-table {
  color: #424956;
  font-size: 13px;
  background-color: #f9f9fb;
  border-spacing: 0; }

.location-header {
  padding: 14px 0 12px;
  height: 48px;
  font-size: 13px;
  font-weight: normal;
  position: relative;
  background: #fff;
  border-right: 1px solid #eaecf1;
  border-bottom: 1px solid #ccc;
  text-align: center !important;
  box-sizing: border-box;
  overflow: hidden; }

.location-title {
  margin: 0;
  text-align: center !important;
  color: #555;
  overflow: hidden; }

.calendar-section {
  /* height seems to auto-adjust too */
  height: 90%;
  left: 72px;
  margin-top: 49px;
  position: relative;
  top: 0;
  overflow: auto !important; }

.scrolling-table {
  position: relative;
  background-color: #f9f9fb;
  font-size: 13px;
  color: #424956;
  border-spacing: 0; }
  .scrolling-table.slideup-active {
    position: fixed; }
  .scrolling-table .filler-slot {
    height: 0;
    padding: 0;
    margin: 0; }

.open-spot-time-label {
  position: relative;
  top: 0;
  left: 0;
  padding: 0 15px;
  font-size: 11px;
  color: #b1b1b1;
  display: none; }

.open-spot {
  position: relative;
  height: 24px !important;
  vertical-align: middle;
  border-right: 1px solid #eaecf1;
  border-bottom: 1px solid #eaecf1;
  cursor: pointer;
  padding: 0;
  box-sizing: border-box; }
  .open-spot:hover {
    background: #f3f4f5;
    /*border: none*/ }
    .open-spot:hover .open-spot-time-label {
      display: block; }

.booking-slot {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  cursor: pointer;
  border-top: 1px solid #eaecf1;
  margin-top: -1px;
  z-index: 2; }
  .booking-slot:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: 1; }
  .booking-slot.sixty-mins {
    height: 96px; }
  .booking-slot.unbooked {
    background: #FFF; }
  .booking-slot.full {
    background: #c84f42; }
    .booking-slot.full .slot-details .slot-time {
      color: #fff; }
    .booking-slot.full .slot-details h3 {
      color: #fff; }
    .booking-slot.full .slot-details .slot-booker {
      color: #fff;
      color: #fff !important; }
    .booking-slot.full .slot-details .slot-booker-icon {
      color: #fff !important; }
  .booking-slot.booked {
    background: #52B266; }
    .booking-slot.booked .slot-details .slot-time {
      color: #fff; }
    .booking-slot.booked .slot-details h3 {
      color: #fff; }
    .booking-slot.booked .slot-details .slot-booker {
      color: #fff; }
    .booking-slot.booked .slot-details .slot-booker-icon {
      color: #fff !important; }
  .booking-slot:hover:before {
    background-color: rgba(0, 0, 0, 0.09); }

.slot-details {
  position: relative;
  z-index: 2;
  /*top: 10px*/
  padding: 0 10px;
  height: 100%; }
  .slot-details .slot-time {
    color: #98a5bb;
    font-size: 11px; }
  .slot-details .slot-booking-list {
    bottom: 0;
    position: absolute; }
    .slot-details .slot-booking-list .slot-booker {
      color: #98a5bb;
      font-size: 11px; }
    .slot-details .slot-booking-list .slot-booker-icon {
      color: #98a5bb !important;
      height: 16px !important;
      width: 16px !important;
      vertical-align: bottom !important; }
  .slot-details h3 {
    margin: 0 0 2px;
    color: #98a5bb;
    border-color: #98a5bb;
    font-size: 13px;
    padding: 5px 0;
    font-weight: 500;
    line-height: 1.1; }

table tr:nth-child(4n) td.time-container {
  border-bottom: 1px solid #EAECF1; }

.booking-summary-modal {
  width: 90vw; }
