.loading-schedules {
  display: flex;
  justify-content: center;
  margin-top: 1em; }

.schedule-summary {
  display: flex;
  flex-direction: column; }
  .schedule-summary .create-new {
    margin-left: auto;
    margin-right: 1em; }
  .schedule-summary .schedule-list {
    max-width: 720px;
    width: 100%;
    border: 1px solid #aaa;
    margin-left: 1em;
    margin-top: 1em;
    align-self: center; }
