.booking-panel .header {
	background: #3c8dbc;
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
	text-align: center;
	padding: 20px 10px;
	color: rgb(249, 249, 249);
	font-size: 26px;
	font-weight: 300;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}

.booking-panel .content {
	display: flex;
	flex-direction: column;
	/*align-items: center;*/
	align-items: flex-start;
	padding: 1em;
	background-color: rgb(245, 245, 245) !important;
}

.booking-panel .cancel {
	position: fixed;
	right: 1em;
	top: 1em;
	fill: #fff !important;
	fill-opacity: 0.8;
}

.booking-panel .cancel:hover {
	cursor: pointer;
	fill-opacity: 1;
}

.booking-panel .booking-button .booking-raised-button {
	margin: 5px;
	max-width: 440px; /* container is 450px */
	min-width: 440px !important;
}

.booking-panel .booking-button {
	background-color: rgb(245, 245, 245) !important;
}

.booking-panel .booking-button .booking-raised-button .booking-subtotal {
	color: white;
	border-right: 1px solid #fff;
	padding-right: .7em;
	margin-right: .7em;
}

.booking-panel .booking-button .booking-raised-button .booking-text {
	color: white;
}

.booking-panel .content .time {
	display: flex;
	align-self: flex-start;
	font-weight: 300;
	margin-bottom: .5em;
}

.booking-panel .content .duration {
	display: flex;
	width: 100%;
}

.booking-panel .content .duration .duration-dropdown {
	width: 100% !important;
}

.booking-panel .content .duration .duration-dropdown > div > div {
	padding-left: 0 !important;
}

.booking-panel .content .event-type {
	display: flex;
	width: 100%;
}

.booking-panel .content .event-type .type-dropdown {
	width: 100% !important;
}

.booking-panel .content .event-type .type-dropdown > div > div {
	padding-left: 0 !important;
}

.booking-panel .content .terms {
	margin-top: .5em;
}