.date-picker-icon {
	display: inline-flex;
	vertical-align: middle;
	padding-right: 0.3em;
}

.date-picker-svg {
	fill: #444 !important;
	transform: scale(0.9);
}

.date-picker-icon:hover {
	cursor: pointer;
}

.date-picker {
	border: 1px solid #aaa;
	display: inline-flex;
	align-items: center;
	padding-left: .5em;
	width: 200px;
	margin-bottom: .5em;
}

.date-picker:hover {
	cursor: pointer;
}

.date-picker > div > div {
	width: auto !important;
	height: 100% !important;
	font-family: inherit !important;
	line-height: inherit !important;
	cursor: inherit !important;
}

.date-picker > div > div > div > hr {
	display: none;
}

.date-picker > div > div > div {
	color: rgb(72, 72, 72) !important; /* date text */
}