.event-detail-container {
	width: 360px;
	margin: 20px .5em 0 .5em;
	box-sizing: border-box;
	background-color: rgb(245, 245, 245);
}

.event-detail-header {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
	background: #3c8dbc;
	color: #f9f9f9;
	font-size: 26px;
	text-align: center;
	font-weight: 300;
	box-shadow: inset 0px -3px 0px rgba(0, 0, 0, 0.2);
	padding-bottom: 20px;
	padding-top: 20px;
	padding-left: 10px;
	padding-right: 10px;
}

.event-detail-content {
	background-color: rgb(245, 245, 245);
	border-color: #dcdcdc;
	box-shadow: inset 0 1px 3px rgba(0,0,0,.05), 0 1px 0 rgba(255,255,255,.1);
	min-height: 20px;
	padding: 19px;
	border: 1px solid #e3e3e3;
	border-radius: 4px;
	box-sizing: border-box;
}

.summary-details {

}