.booking-item-page {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: #f7f7f7; }
  .booking-item-page .booking-item-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    margin-top: 1em;
    margin-bottom: 1em; }
    .booking-item-page .booking-item-content .item-title {
      text-align: center;
      background-color: #52B266;
      color: #fff;
      display: inline-flex;
      align-items: center;
      padding: 1em;
      border-radius: 5px 5px 0 0; }
      .booking-item-page .booking-item-content .item-title .booking-item-icon {
        color: #fff !important;
        height: 48px !important;
        width: 48px !important; }
      .booking-item-page .booking-item-content .item-title .title-text {
        display: inline;
        margin-left: 1em;
        font-size: 1.5em;
        font-weight: 500; }
    .booking-item-page .booking-item-content .section {
      max-width: 720px;
      width: 100%;
      border: 1px solid #aaa;
      margin: 1em;
      margin-top: 0;
      margin-bottom: 0;
      border-top: 0;
      align-self: center; }
      .booking-item-page .booking-item-content .section.item-details {
        background-color: #f1f2f4; }
      .booking-item-page .booking-item-content .section.contact {
        background-color: #fff; }
      .booking-item-page .booking-item-content .section .summary-details {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(0, 0, 0, 0.12);
        padding: 1.5em; }
        .booking-item-page .booking-item-content .section .summary-details .summary-detail {
          display: inline-flex;
          flex-direction: row;
          align-items: center; }
          .booking-item-page .booking-item-content .section .summary-details .summary-detail .summary-detail-icon {
            margin-right: 1em;
            margin-left: .5em;
            color: #a4a4a4 !important; }

.booking-item-header .title-section {
  text-transform: capitalize;
  text-align: center;
  margin-top: 1.5em; }

.booking-item-header .checkin-section {
  position: relative;
  border: 1px solid #aaa; }
  .booking-item-header .checkin-section .checkin-title {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 0.3em;
    margin-left: 0.3em;
    font-size: 11px; }

.booking-item-header .img-section {
  width: 100%; }
  .booking-item-header .img-section .user-no-img-avatar {
    display: block !important;
    margin: auto;
    width: 48px !important;
    height: 48px !important;
    color: black; }

.contact-section .contact-details .email-section {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .contact-section .contact-details .email-section .email-content {
    margin-left: 1em; }

.contact-section .contact-details .phone-section {
  display: flex;
  align-items: center;
  flex-direction: row; }
  .contact-section .contact-details .phone-section .phone-content {
    margin-left: 1em; }

.action-bar-column {
  /*background-color: #0088cc*/
  display: flex;
  justify-content: center;
  padding: .5em; }
  .action-bar-column .action-bar {
    display: flex;
    flex-direction: row; }
    .action-bar-column .action-bar .action-bar-button {
      margin: .5em; }

.booking-item-summary .booking-item {
  display: flex;
  flex-direction: row;
  align-items: flex-end; }
  .booking-item-summary .booking-item .booking-item-detail {
    margin-left: .5em;
    font-style: italic; }
