.search-date-picker {
	display: inline-flex;
	color: rgb(72, 72, 72);
	height: 44px;
	align-items: center;
}

.search-date-picker:hover {
	cursor: pointer;
}

.date-picker-target {
	border: 1px solid #aaa;
	height: 44px;
	width: 200px;
	padding-left: .5em;
	display: flex;
	align-items: center;
}

.search-date-picker-icon {
	display: inline-flex;
	vertical-align: middle;
	padding-right: 0.3em;
}

.search-date-picker-svg {
	fill: #444 !important;
	transform: scale(0.9);
	fill-opacity: 0.7;
}

.search-date-picker-svg:hover {
	fill-opacity: 1;
}

.date-text {
	font-weight: inherit;
}