.location-picker {
	display: inline-flex;
	color: rgb(72, 72, 72);
	height: 44px;
	align-items: center;
}

.location-picker:hover {
	cursor: pointer;
}

.location-target {
	border: 1px solid #aaa;
	height: 44px;
	width: 200px;
	padding-left: .5em;
	display: flex;
	align-items: center;
}

.location-icon {
	display: inline-block;
	vertical-align: middle;
	padding-right: 0.3em;
}

.location-icon-svg {
	fill: #444 !important;
	fill-opacity: 0.7;
	transform: scale(0.9);
}

.location-icon-svg:hover {
	fill-opacity: 1;
}

.location-icon:hover {
	cursor: pointer;
}