.timeline-card {
  width: 45%;
  min-width: 350px;
  margin: .25em 1em 1em 0;
  display: inline-block;
}

.timeline-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em;
  align-items: center;
}


.timeline-card-time {
  display: flex;
  align-items: center;
}

.timeline-card-time-svg {
  transform: scale(0.7);
}

.action-button {
  width: 100%;
}

.action-button-half {
  width: 48%;
  margin: .25em;
}