/*#4cb781*/
/*#56c18b*/
.event-type-filter {
  display: inline-flex;
  user-select: none; }

.filter-selector {
  display: flex;
  padding-right: 0.5em;
  line-height: 1em;
  align-items: center;
  color: #767676;
  border-radius: 4px; }
  .filter-selector:hover {
    background-color: #F2F2F2;
    cursor: pointer; }
  .filter-selector.active {
    background-color: #F2F2F2; }
  .filter-selector.inverted {
    color: #fff;
    opacity: 0.7; }
    .filter-selector.inverted.active {
      color: #767676; }
      .filter-selector.inverted.active > .chevron > .chevron-svg {
        color: #767676 !important; }
    .filter-selector.inverted:hover {
      opacity: 1;
      color: #767676; }
      .filter-selector.inverted:hover > .chevron > .chevron-svg {
        color: #767676 !important; }
      .filter-selector.inverted:hover .selected-count {
        color: #fff;
        background-color: #0088cc; }

.filter-title {
  display: flex;
  margin: 0.5em;
  font-weight: inherit; }

.filter {
  position: relative; }

.filter-panel {
  display: none;
  position: absolute;
  width: 242px;
  top: 40px;
  background-color: #fff;
  z-index: 10;
  overflow: scroll; }
  .filter-panel.active {
    display: block; }

.chevron {
  display: inline-flex;
  transform: rotate(270deg);
  vertical-align: middle;
  transition: transform 250ms ease-in-out; }
  .chevron.active {
    transform: rotate(90deg); }
  .chevron.inverted {
    color: #fff; }

.time-range-filter {
  display: flex;
  margin: 1em .5em 1em .5em;
  cursor: pointer; }

.time-range-title {
  font-weight: 300;
  line-height: 24px;
  color: #484848;
  font-size: 19px; }

.time-range-description {
  font-weight: 300;
  line-height: 18px;
  color: #484848;
  font-size: 15px; }

.time-icon {
  margin-left: auto; }

.time-icon-svg {
  fill: rgba(0, 0, 0, 0.6) !important;
  transform: scale(0.95); }

.selected-count {
  display: inline-block;
  /*background-color: #008489*/
  background-color: #fff;
  border-radius: 10px;
  font-size: 12px;
  width: 20px;
  height: 20px;
  color: #0088cc;
  padding-bottom: 0px;
  padding-top: 0px;
  text-align: center;
  letter-spacing: 0.4px;
  line-height: 20px;
  margin-right: 0.5em; }

.active .selected-count {
  color: #fff;
  background-color: #0088cc; }
