.filter-menu {
  width: 100%;
  height: 70px;
  z-index: 5;
  background-color: #0088cc;
  position: fixed;
  top: 80px;
  display: flex;
  justify-content: space-between; }
  .filter-menu.headless {
    top: 0; }
  .filter-menu .arrow-box {
    display: flex;
    background: #005b9b;
    border: 2px solid #5cb8ff; }
    .filter-menu .arrow-box:before {
      bottom: calc(100% - 2px);
      left: 85%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(92, 184, 255, 0);
      border-bottom-color: #5cb8ff;
      border-width: 33px;
      margin-left: -33px; }
    .filter-menu .arrow-box:after {
      bottom: calc(100% - 2px);
      left: 85%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
      border-color: rgba(0, 91, 155, 0);
      border-bottom-color: #005b9b;
      border-width: 30px;
      margin-left: -30px; }
  .filter-menu .date-interval-options {
    display: flex;
    position: absolute;
    top: 70px;
    right: 0px;
    flex-direction: row;
    background-color: #005b9b; }
    .filter-menu .date-interval-options .date-interval-option {
      display: flex;
      flex-direction: column;
      width: 5em;
      align-items: center;
      justify-content: center; }
      .filter-menu .date-interval-options .date-interval-option:hover {
        background-color: #0088cc;
        cursor: pointer; }
    .filter-menu .date-interval-options .date-count {
      font-size: 2em;
      color: #fff; }
    .filter-menu .date-interval-options .date-text {
      font-size: 1em;
      color: #fff; }
    .filter-menu .date-interval-options.hidden {
      display: none; }
  .filter-menu .filter-menu-balance {
    display: flex;
    justify-content: flex-end;
    width: 15em; }
    @media screen and (max-width: 850px) {
      .filter-menu .filter-menu-balance {
        display: none; } }
    .filter-menu .filter-menu-balance .date-interval-picker {
      display: flex;
      flex-direction: column;
      width: 5em;
      align-items: center;
      justify-content: center; }
      .filter-menu .filter-menu-balance .date-interval-picker:hover {
        cursor: pointer;
        background-color: #005b9b; }
      .filter-menu .filter-menu-balance .date-interval-picker.hidden {
        display: none; }
      .filter-menu .filter-menu-balance .date-interval-picker .date-count {
        font-size: 2em;
        color: #fff; }
      .filter-menu .filter-menu-balance .date-interval-picker .date-text {
        font-size: 1em;
        color: #fff; }

.filter-list-icon-svg {
  color: white !important;
  transform: scale(1.25);
  margin: 1em; }

.filter-list-icon {
  display: inline-flex;
  vertical-align: middle;
  opacity: 0.7;
  align-self: center; }
  .filter-list-icon:hover {
    opacity: 1;
    cursor: pointer; }

.filter-date-picker {
  display: inline-flex;
  color: #fff;
  align-self: center;
  align-items: center;
  margin: auto; }
  @media screen and (max-width: 660px) {
    .filter-date-picker {
      margin-right: 1em; } }

.date-picker-area {
  opacity: 0.9; }
  .date-picker-area:hover {
    opacity: 1;
    cursor: pointer; }
  .date-picker-area .date-picker-text {
    display: inline-block; }
    @media screen and (max-width: 480px) {
      .date-picker-area .date-picker-text {
        display: none; } }
  .date-picker-area .date-picker-text-small {
    display: none; }
    @media screen and (min-width: 210px) and (max-width: 480px) {
      .date-picker-area .date-picker-text-small {
        display: inline-block; } }
    @media screen and (max-width: 390px) {
      .date-picker-area .date-picker-text-small {
        display: none; } }

.filter-date-picker-icon {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 0.5em; }

.filter-date-picker-svg {
  fill: #fff !important;
  transform: scale(1); }
  .filter-date-picker-svg:hover {
    fill-opacity: 1; }

.filter-chevron {
  margin: 0 1em;
  opacity: 0.7;
  color: #fff;
  display: inline-flex;
  /*transform: scale(2)*/ }
  .filter-chevron:hover {
    opacity: 1;
    cursor: pointer; }

.filter-chevron-svg {
  fill: #fff !important; }

.jump-to-today {
  color: #fff;
  opacity: 0.7;
  display: inline-flex;
  margin: 0 1em;
  align-items: center; }
  .jump-to-today:hover {
    opacity: 1;
    cursor: pointer; }

.filter-drawer {
  margin-top: 186px; }
