/*#4cb781*/
/*#56c18b*/
.timeline-filter {
  margin: 1em;
  position: fixed;
  left: 0; }

.new-location-picker {
  display: block;
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 1em;
  width: 15em; }
  @media screen and (max-width: 850px) {
    .new-location-picker {
      width: 10em; } }
  @media screen and (max-width: 500px) {
    .new-location-picker {
      width: 10em; } }
  .new-location-picker .location-picker-select.is-focused {
    background-color: #0088cc; }
    .new-location-picker .location-picker-select.is-focused .Select-control {
      background-color: #0088cc !important;
      color: #fff; }
  .new-location-picker .location-picker-select.is-open {
    background-color: #0088cc; }
    .new-location-picker .location-picker-select.is-open .Select-control {
      background-color: #0088cc;
      color: #fff; }
  .new-location-picker .location-picker-select .Select-value:nth-child(3) {
    font-style: italic; }
    .new-location-picker .location-picker-select .Select-value:nth-child(3) .Select-value-icon {
      display: none; }
  .new-location-picker .location-picker-select .Select-value:nth-child(n+4) {
    display: none; }
  .new-location-picker .location-picker-select .Select-control {
    background-color: #0088cc;
    color: #fff;
    border: none; }
    .new-location-picker .location-picker-select .Select-control:hover {
      cursor: pointer; }
    .new-location-picker .location-picker-select .Select-control .Select-multi-value-wrapper .Select-value .Select-value-label {
      color: #fff !important;
      max-width: 4.5em;
      text-overflow: ellipsis;
      overflow-y: hidden;
      white-space: nowrap; }
    .new-location-picker .location-picker-select .Select-control .Select-placeholder {
      color: #fff; }
    .new-location-picker .location-picker-select .Select-control .Select-arrow {
      border-color: #fff transparent transparent; }
    .new-location-picker .location-picker-select .Select-control .Select-value {
      color: #fff; }
    .new-location-picker .location-picker-select .Select-control .Select-clear-zone {
      color: #fff; }
