.timeline {
  position: relative;
  padding-bottom: 2em; }
  .timeline::before {
    display: none;
    content: '';
    top: 0px;
    bottom: 5px;
    width: 5px;
    background: #ddd;
    left: 30px;
    border: 1px solid #eee;
    margin: 0;
    border-radius: 2px;
    box-sizing: border-box;
    position: absolute; }

.timeline-header {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 900;
  line-height: 1px;
  box-shadow: rgba(190, 38, 38, 0.5) 1px 3px 1px;
  border-radius: 0px;
  background-color: #f56954;
  color: #f9f9f9;
  padding: .25em 1em .25em 1em;
  display: inline-block;
  margin-bottom: .5em;
  position: relative; }

.timeline-item {
  margin-left: 60px;
  margin-right: 15px; }

.timeline-row-content {
  display: flex;
  flex-wrap: wrap; }

.timeline-row {
  position: relative;
  margin-left: 1em; }
  .timeline-row .event-icon {
    width: 30px;
    height: 30px;
    position: absolute;
    background: #eee;
    background-color: #0073b7;
    border-radius: 50%;
    left: 18px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2); }
    .timeline-row .event-icon.close {
      background-color: #eeeeee; }
      .timeline-row .event-icon.close .event-icon-svg {
        fill: #666 !important; }
    .timeline-row .event-icon .event-icon-svg {
      fill: #f9f9f9 !important;
      transform: scale(0.75); }

.timeline-card .timeline-card-header {
  color: #555;
  font-size: 1em;
  padding: 0 1em; }

.timeline-card .timeline-card-content {
  margin: 1em;
  color: #555;
  font-size: 14px; }
  .timeline-card .timeline-card-content .per-skater {
    padding: .1em; }
  .timeline-card .timeline-card-content .skill-level {
    padding: .1em; }
  .timeline-card .timeline-card-content .genders {
    padding: .1em; }
  .timeline-card .timeline-card-content .join-event-button {
    padding-top: 1em;
    padding-bottom: 1em;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap; }
    .timeline-card .timeline-card-content .join-event-button .action-button {
      margin-right: 1em;
      margin-top: 1em; }
