.timeline-card-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.2em;
  align-items: center; }

.timeline-card-time {
  display: flex;
  align-items: center; }

.timeline-card-time-svg {
  transform: scale(0.7); }
